<h1>Contact Us</h1>

<p>Autolab is primarily managed by <b>Nicholas Myers</b> in <b>CSE IT</b>. The best way to contact us about Autolab is
  to send a detailed email with a subject containing "<b>Autolab</b>" to
  <b><%= Rails.configuration.school['tech_email'] %></b>. We're happy to help with anything you need.</p>

<p><b>New in fall 2023:</b> Instructors can create their own courses via our custom
  <a href="/portal">custom self-service portal</a>!</p>


<p><b>Students,</b> please reach out to your instructor first, unless you're absolutely certain there's a system-wide
  problem with Autolab.</p>

<h1>Resources</h1>

<ul>
  <li><a target="_blank" href="https://github.com/UB-CSE-IT/Autolab-Public-Documentation">UB CSE IT's Public Autolab Documentation</a> (includes UB-specific features)</li>
  <li><a target="_blank" href="https://docs.autolabproject.com/instructors/">The Autolab Project's Instructor's Guide</a> (includes most information about course management)</li>
  <li><a target="_blank" href="https://docs.autolabproject.com/lab/">The Autolab Project's Guide for Writing Autograders</a> (provides some example autograders)</li>
</ul>

<p>If the above documentation doesn't answer your question, feel free to reach out to CSE IT at
  <b><%= Rails.configuration.school['tech_email'] %></b> for more personalized assistance.</p>


