<h1>Contact Us</h1>

<p>Autolab is primarily managed by <b>Nicholas Myers</b> in <b>CSE IT</b>. The best way to contact us about Autolab is
  to send an email with a descriptive subject to <b><%= Rails.configuration.school['tech_email'] %></b>. We're happy to
  help with anything you need.</p>

<p>We have a new <a href="/portal">custom self-service portal</a> where you can create your own courses!</p>

<h3>Students:</h3>
<p>Please reach out to your instructor first, unless you're absolutely certain there's a system-wide problem with
  Autolab.</p>

<h1>Resources</h1>

<p>Here are some resources to help you get the most out of Autolab.</p>
<ul>
  <li><a target="_blank" href="https://docs.autolabproject.com/instructors/">Guide for Course Management</a></li>
  <li><a target="_blank" href="https://docs.autolabproject.com/lab/">Guide for Writing Autograders</a></li>
</ul>

<p>If the above documentation doesn't answer your question, feel free to reach out to CSE IT at
  <b><%= Rails.configuration.school['tech_email'] %></b> for more personalized assistance.</p>


