<h1>Contact Us</h1>

<p>Autolab is primarily managed by <b>Nicholas Myers</b> in <b>CSE IT</b>. The best way to contact us about Autolab is
  to send a detailed email with a subject containing "<b>Autolab</b>" to
  <b><%= Rails.configuration.school['tech_email'] %></b>. We're happy to help with anything you need.</p>

<p><b>Students,</b> please reach out to your instructor first, unless you're absolutely certain there's a system-wide
  problem with Autolab. CSE IT does not control course enrollment.</p>

<h1>Documentation</h1>

<ul>
  <li><a target="_blank" href="https://github.com/UB-CSE-IT/Autolab-Public-Documentation">UB CSE IT's Public Autolab Documentation</a> (Includes everything necessary to get started with Autolab and most advanced features, such as creating courses, managing enrollment, creating assessments, creating autograders (samples included), creating autograding images, explaining the technical autograding process, UB-specific features, and more!)</li>
  <li><a target="_blank" href="https://docs.autolabproject.com/instructors/">The Autolab Project's Instructor's Guide</a> (Includes most information about course management)</li>
  <li><a target="_blank" href="https://docs.autolabproject.com/lab/">The Autolab Project's Guide for Writing Autograders</a> (Provides some example autograders)</li>
</ul>

<p>If the above documentation doesn't answer your question, feel free to reach out to CSE IT at
  <b><%= Rails.configuration.school['tech_email'] %></b> for more personalized assistance.</p>

<h1>Source Code</h1>

<ul>
  <li><a target="_blank" href="https://github.com/autolab">CMU's GitHub Organization</a> (upstream)</li>
  <li><a target="_blank" href="https://github.com/UB-CSE-IT/Autolab">CSE Autolab</a></li>
  <li><a target="_blank" href="https://github.com/UB-CSE-IT/Autolab-Docker">CSE Autolab Docker</a> (how we deploy Autolab)</li>
  <li><a target="_blank" href="https://github.com/UB-CSE-IT/Tango">CSE Tango</a> (autograding job queue)</li>
  <li><a target="_blank" href="https://github.com/UB-CSE-IT/Autolab-Self-Service">CSE Autolab "Self-Service" Portal</a> (a companion application for self-service)</li>
  <li><a target="_blank" href="https://github.com/UB-CSE-IT/Autograding-Images">CSE Autograding Images</a> (Dockerfiles to run code in a sandboxed environment)</li>
</ul>


