<h1>Contact Us/Help with Autolab</h1>

<p>Autolab is primarily managed by Nicholas Myers in CSE IT. If there's an
  <b>urgent problem affecting the entire system</b>, you can email Nicholas
  directly at <b>njmyers@buffalo.edu</b> and CC
  <b><%= Rails.configuration.school['tech_email'] %></b> so it gets logged in our ticketing system.</p>

<h3>Students:</h3>
<p>Please reach out to your instructor first, unless you're absolutely certain there's a system-wide problem with
  Autolab.</p>

<h3>Instructors (including TAs):</h3>

<p>For non-urgent inquiries, there are lots of resources available to help you get the most out of Autolab.</p>
<ul>
  <li><a target="_blank" href="https://docs.autolabproject.com/instructors/">Guide for Course Management</a></li>
  <li><a target="_blank" href="https://docs.autolabproject.com/lab/">Guide for Writing Autograders</a></li>
  <li><a target="_blank" href="https://docs.autolabproject.com/api-interface/">API Documentation</a></li>
  <li><a target="_blank" href="https://docs.autolabproject.com/command-line-interface/">Command Line Interface</a></li>
</ul>

<p>If you're looking to <b>create a new Autolab course</b>, visit the "Instruction" section on the
  <a target="_blank" href="https://engineering.buffalo.edu/computer-science-engineering/information-for-faculty-and-staff.html#instruction">Information
    for Faculty and Staff</a> page to find the current method for doing that.</p>

<p>If the above documentation doesn't answer your question, feel free to reach out to CSE IT at
  <b><%= Rails.configuration.school['tech_email'] %></b> for more personalized assistance.</p>


