<%= render partial: "topannounce" rescue nil %>

<h1>Welcome to Autolab!</h1>

<p>Hey there! We noticed that you're not currently associated with any courses.</p>

<h2>For students</h2>
<p><b>Autolab course enrollment is managed by your instructors.</b> Some instructors may wait until after the add/drop
  deadline before importing their roster. If you believe you should have been added to a course by now, get in touch
  with your instructor.</p>

<h2>For instructors</h2>
<p>We're currently developing a self-service course creation system, but it may not be finished in time for the Fall
  semester. <b>Visit the "Instruction" section on the
  <a target="_blank" href="https://engineering.buffalo.edu/computer-science-engineering/information-for-faculty-and-staff.html#instruction">Information
    for Faculty and Staff</a> page</b> to find the current method of requesting a new Autolab course.</p>
<p>If you have any questions, you can email us at <b><%= Rails.configuration.school['tech_email'] %></b>.</p>
