<%= render partial: "topannounce" rescue nil %>

<h1>Welcome to Autolab!</h1>

<p>Hey there! We noticed that you're not currently associated with any courses.</p>

<h2>For students</h2>
<p><b>Autolab course enrollment is managed by your instructors.</b> Some instructors may wait until after the add/drop
  deadline before importing their roster. If you believe you should have been added to a course by now, get in touch
  with your instructor.</p>

<h2>For instructors</h2>
<p>You can use our <a href="/portal">Self-Service Portal</a> to create your courses.</p>
<p>If you have any questions, feel free to email us at <b><%= Rails.configuration.school['tech_email'] %></b>.</p>
