/********************************************************
* Autolab Specific CSS variables *
********************************************************/
// Changed to UB colors, but keeping the original CMU names
$autolab-red: #005bbb;
$autolab-subtle-red: #7b9fc8;
$autolab-subtle-gray: #eee;
$autolab-highlight-gray: #ccc;
$autolab-black-text: #212121;
$autolab-blue-text: #005bbb;
$autolab-green: #3a862d;
$autolab-white: #fff;
