/********************************************************
* Autolab Specific CSS variables *
********************************************************/
// Changed to UB colors, but keeping the original CMU names
$autolab-red: #005bbb;
$autolab-subtle-red: #7b9fc8;
$autolab-light-red: #d2e4ff;
$autolab-subtle-gray: #eee;
$autolab-highlight-gray: #ccc;
$autolab-black-text: #212121;
$autolab-blue-text: #005bbb;
$autolab-green: #3a862d;
$autolab-light-green: #ebffd2;
$autolab-white: #fff;
$autolab-selected-gray: #f5f5f5;
$autolab-border-gray: #f4f1f1;
$autolab-gray-text: #676464;
