/********************************************************
* Autolab Specific CSS variables *
********************************************************/
// Changed to UB colors, but keeping the original CMU names
$autolab-red: #005bbb;
$autolab-subtle-red: #7b9fc8;
$autolab-light-red: #d2e4ff;
$autolab-subtle-gray: #eee;
$autolab-highlight-gray: #ccc;
$autolab-black-text: #212121;
$autolab-blue-text: #005bbb;
$autolab-green: #3a862d;
$autolab-light-green: #ebffd2;
$autolab-white: #fff;
$autolab-medium-gray: #6f6f6f;
$autolab-submissions-background: #F2F2F2;
$autolab-excused-popover-background: #00000040;
$autolab-black: #000000;
$autolab-light-grey: #ebebeb;
$autolab-grey: #A1A0A3;
$autolab-dark-grey: #3D3E3D;
$autolab-label: rgba(140, 0, 0, 0.95);
$autolab-border: 1px solid #ddd;
$autolab-sky-blue: #dceaf5;
$autolab-selected-gray: #f5f5f5;
$autolab-border-gray: #f4f1f1;
$autolab-gray-text: #676464;
$autolab-highlight-comments: #008000;
